# Laravel
/bootstrap/compiled.php
/vendor

# Composer
composer.phar
composer.lock

# OS
.DS_Store
*~
.tags*

# Configuration
/app/config/staging
/app/config/production

# Codeception
_*
*Guy.php
