/* 
   Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------- Main Styles --------- */


/* General Tags */

body {
	text-align: center;
}

h1, h2, h3 {
	margin-bottom: 12px;
	color: #236BB2;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 140%;
}

h3 {
	font-size: 110%;
}

p {
	margin-bottom: 25px
}

a:link, a:visited {
	color: darkblue;
}

a:hover, a:active {
	color: darkblue;
}

/* Container */

#container {
	text-align: left;
	width: 600px;
	margin: 10px auto 10px auto;
}

/* Header */

#header {
	background-color: #236BB2;
	color: #fff;
	height: 50px;
	padding: 18px;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}

#header a {
	color: #FFF;
	text-decoration: none;
	font-size: 220%;
}

/* Searchbar */

#searchbar {
	float: right;
}
/* Nav */

#nav {
	position: relative;
	overflow: hidden;
	float: left;
	width: 600px;
	background-color: #88B8E7;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav ul li {
	display: inline;
}

#nav li a {
	float: left;
	display: block;
	padding: 12px 12px;
	color: #fff;
	border-right: 1px solid #fff;
}

#nav li a:hover {
	color: #236BB2;
}

/* Content */

#content {
	clear: both;
	padding: 18px;
	background-color: #fff;
	border-left: 1px solid #1144AA;
	border-right: 1px solid #1144AA;
	overflow: hidden;
}

#content ul {
	list-style-type: square;
	margin-left: 20px;
}

#content li {
	margin-bottom: 5px;
}

/* Flash Message */
#message {
	background-color: #FCDDBB ;
	border: 1px solid #555;
	color: #000;
	padding: 10px;
}

/* Form Errors */

#form-errors {
	margin-bottom: 20px;
	margin-left: 30px;
	list-style-type: square;
}

/* Form Input Styles */

#question, #username, #password, #password_confirmation, #answer {
	width: 250px;
}

#form-errors li {
	color: red;
}

/* Ask div */

#ask {
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

/* Answers div */

#answers {
	border-top: 1px solid #ccc;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* post-answer div */

#post-answer {
	border-top: 1px solid #ccc;
	padding-top: 20px;
}

/* Footer */

#footer {
	background-color: #236BB2;
	color: #fff;
	text-align: center;
	padding: 1em;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}

/* Misc. Class Styles */

.pagination {
	margin-top: 20px;
}

.pagination ul li {
	margin: 0 2px;
	display: inline;
}
